@page "/login"

<div Class="rz-p-0 rz-p-md-12">
    <RadzenCard Variant="@variant" Class="rz-my-12 rz-mx-auto" Style="max-width: 420px">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" JustifyContent="JustifyContent.Center" Wrap="FlexWrap.Wrap" Gap="1rem" Class="rz-p-sm-12">
            <RadzenFormField Text="Account" Variant="@variant">
                <Start>
                    <RadzenIcon Icon="account_circle" />
                </Start>
                <ChildContent>
                    <RadzenTextBox @bind-Value="@userName" />
                </ChildContent>
                <End>
                </End>
            </RadzenFormField>
            <RadzenFormField Text="Password" Variant="@variant">
                <Start>
                </Start>
                <ChildContent>
                    <RadzenTextBox @bind-Value="@password" Visible="@(!passwordState)" />
                    <RadzenPassword @bind-Value="@password" Visible="@passwordState" />
                </ChildContent>
                <End>
                    <RadzenButton Icon="@(passwordState ? "visibility" : "visibility_off")" Click="TogglePassword" Variant="Variant.Text" Size="ButtonSize.Small" />
                </End>
            </RadzenFormField>
            <div>
                <div style="font-size: .8em">@createAccount</div>
            </div>
            <div class="rz-p-12 rz-text-align-center">
                <RadzenButton Text="Submit" Click="@Submit" class="rz-ripple"/>
            </div>
        </RadzenStack>
    </RadzenCard>
</div>

@code {
    string createAccount = "If you are new to this create account";
    string userName = "";  // Consider renaming to 'username'
    string password = "";
    bool passwordState = true;
    Variant variant = Variant.Outlined;

    void TogglePassword()
    {
        passwordState = !passwordState;
    }

    void Submit()
    {
        // Implement your authentication logic here
        // For example:
        if (string.IsNullOrWhiteSpace(userName) || string.IsNullOrWhiteSpace(password))
        {
            // Show error: Both fields are required
        }
        else
        {
            // Authenticate the user

        }
    }
}